<div class="col-8 menyy">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/">ESILEHT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/uudised">UUDISED</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registreeru">REGISTREERU</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/kontakt">KONTAKT</a>
        </li>
    </ul>
</div>