.paiskonteiner{
    background: transparent url('Pildid/Hills.png') 0% 0% no-repeat padding-box;
background: transparent, 0.19;
width: 100%;
height: 778px;
padding-top: 30px;
font-family: 'Montserrat', sans-serif;


}
.menyy{
letter-spacing: 2.67px;
height: 20px;
padding-right: 80px;
text-align: left;
}

.row{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 75px;
}
li a {
    color: black;
    font-weight: bold;
    font-size: 16.67px;
}
.logonimi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -80px;
   
}
.nimi{
    font-weight: 800;
    font-size: 33px;
    text-align: left;
    letter-spacing: 0px;
    color: black;
    line-height: 35px;
    max-width: 126px;
 
}
.pealkirjad{
    padding-top: 231px;
    text-transform: uppercase;
    color: #0B0B0B;

    letter-spacing: 0px;
}
.pealkirjad h2{
    font-size: 39.57px;
   line-height:48 px;
   font-weight: 700;
}
.pealkirjad h1{
    font-size: 65px;
    line-height: 91px;
    font-weight: 800;
}
.pealkirjad h3{
    font-size: 20.83px;
    line-height:93 px;
    font-weight: 700;
}
.liblikas1{
height: 66px;
display: block;
margin-top: -40px;
}
.liblikas2{
    height: 32px;
    display: block;
    margin-left: -60px;
}
.btn {
    background: #0B0B0B 0% 0% no-repeat padding-box;
    height: 58px;
    width: 247px;
    text-transform: uppercase;
    padding-top: 15px;
}
.container{
    margin-left: 72px;
}
.pealispilt {
    overflow: hidden;
}
.pealispilt .matkaja {
    width:750px ;
    height:750px ;
    border-radius: 50%;
    object-fit:cover;
    margin-right: -400px;
}
.pealispilt .vari {
    width:1091px ;
    height:87px ;
    margin-right: -152px;
    margin-top: -40px;
}
.kontakt{
    margin-top: 100px;
}
.uudised{
    margin: 90px;
}
.postitus-pealkiri {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}
.postitus-kuupaev {

font-weight: bolder;
}
.postitus-sisu {
    font-size: 15px;
}
.matkaandmed{
    margin-top: 40px;
}

@media (min-width:1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 95%;
    }
}
@media screen and (min-width:1200px){
    .paiskonteiner{
        background: transparent url('Pildid/Hills@2x.png') 50% 50% no-repeat padding-box;

    }

}