<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/klubi.css">
        <title>Kontakt</title>
    
    </head>
    
    <body>
        <div class="paiskonteiner">
            <div class="container">
                <div class="row">
                    <div class="col-4 logonimi">
    
                        <a class="navbar-brand" href="/kontakt">
                            <img src="/Pildid/klubilogo.png" alt="logo" style="width:65px;">
                        </a>
                        <div class="nimi">MATKA KLUBI</div>
                    </div>
                    <%- include ("../partials/matkamenyy.ejs") %>
                </div>
    
                <div class="kontakt">
                    <form action="#" >
                        <div class="form-group">
                            <label for="name">Nimi:</label>
                            <input type="text" class="form-control" placeholder="Sisesta nimi" id="nimi">
                        </div>
                        <div class="form-group">
                            <label for="email">E-posti address:</label>
                            <input type="email" class="form-control" placeholder="Sisesta oma e-post" id="email">
                        </div>
                        <div class="form-group">
                            <label for="sonum">Sõnum:</label><br>
                            <textarea name="sonum" rows="10" cols="40">
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Saada</button>
                    </form>
                </div>
                </div>
            </div>
    
    
        </div>
    </body>
    
    </html>