<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>uudised</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="klubi.css">
    
    </head>
    <body>
        <div class="paiskonteiner">
            <div class="container">
                <div class="row">
                    <div class="col-4 logonimi">
    
                        <a class="navbar-brand" href="/uudised">
                            <img src="./Pildid/klubilogo.png" alt="logo" style="width:65px;">
                        </a>
                        <div class="nimi">MATKA KLUBI</div>
                    </div>
                    <%- include ("../partials/matkamenyy.ejs") %>
                </div>
    
                <div class="uudised">
                    
                    <div class="postitus">
                        <div class="postitus-pealkiri">
                            Esimene uudis
                        </div>
                        <div class="postitus-kuupaev">
                            27 jaanuar 2021
                        </div>
                        <div class="postitus-sisu">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nulla eius iste dolore, asperiores provident ab accusantium veritatis rem pariatur voluptate, blanditiis maiores odit quasi nostrum nisi! Velit, a quas!
                            </p>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet illum provident dolores dignissimos, asperiores rem! Voluptatibus animi, laboriosam, maiores veritatis culpa unde laudantium quidem asperiores similique minus voluptate libero maxime!
                            </p>
                        </div>
                        <div class="postitus">
                            <div class="postitus-pealkiri">
                                Teine uudis
                            </div>
                            <div class="postitus-kuupaev">
                                26 veebruar 2021
                            </div>
                            <div class="postitus-sisu">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nemo, magni libero modi doloribus eius, non culpa totam cupiditate, rem quis earum molestiae consequatur! Tempora nesciunt at ducimus excepturi dolorum.</p>
                               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id explicabo esse veniam rerum autem provident sunt rem illum similique dolorem, itaque illo aut, dolorum odio non eum animi laboriosam mollitia!</p>
                               <ul>
                                   <li>esimene</li>
                                   <li>teine</li>
                                   <li>kolmas</li>
                               </ul>
                            </div>
                            <div class="postitus" >
                                <div class="postitus-pealkiri"> 
                                    Kolmas uudis
                                    </div>
                                    <div class="postitus-kuupaev">
                                        28 veebruar 2021</div>
                                        <div class="postitus-sisu">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                            </p>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui doloremque ipsam ut dolore dignissimos dolorum, iure pariatur dolores quisquam enim autem ipsa totam quia quae provident nulla, quas facilis nesciunt?
                                            </p>
                                        </div>      
                    </div>
                </div>
                </div>
            </div>
        </div>
    </body>
    </html>